{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>
    <p>Nom d'utilisateur : {{ user.username }}</p>
    <p>Nom : {{ user.name }}</p>
    <p>Adresse e-mail : {{ user.email }}</p>

    <a href="{{ path('app_profile_edit_name') }}" class="btn btn-primary">Modifier le Nom</a>
    <a href="{{ path('app_profile') }}" class="btn btn-secondary">Retour au Profil</a>
{% endblock %}
